.home{
    background: linear-gradient(to right, #243B55, #141E30);
    min-height: 100vh;
}

.names{
    margin-top: 140px;
}

.header-img{
    margin-top: 70px;
    width: 500px;
}

.typist{
    color: white;
    font-size: 24px;
}